body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "Arial";
}

#myCanvas {
  background-color: #2a5;
}

button,
.file-input-label {
  display: inline-block;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-family: "Arial";
  border: none;
  border-radius: 5px;
  padding: 5px 7px;
  margin-top: 20px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
